In [1]:
# Standard library imports
import argparse
import os

# Third party imports
import cv2
import mediapipe as mp
import numpy as np
import pandas as pd
import pickle as pkl
import h5py
# Local imports
#import utils.video as uv  # for folder creation

In [2]:
df_or = pd.read_csv("data.csv")

In [4]:
data = h5py.File("C:/Users/BRENDA/Documents/SOTA/KNN/PSL-GAN-ad521b837aa1cabd3bbc6e72459104d0ca7cb72a/data_10_23.h5", 'r')

In [5]:
data.keys()

In [6]:
print(data['data'][...].shape)
print(data['labels'][...].shape)
print(data['name_labels'][...].shape)

(886, 2, 10, 23)
(886,)
(886,)

In [7]:
print(data['data'][0])

[[[0.5034439  0.53140098 0.54888189 0.56696302 0.47630259 0.46247688
   0.44911751 0.599518   0.42824858 0.54545414 0.4729774  0.74269944
   0.32296166 0.81937659 0.14314842 0.53878844 0.30377066 0.44563398
   0.33223256 0.43983296 0.35201153 0.45864379 0.35597172]
  [0.50935853 0.53545398 0.55234522 0.57012552 0.47888905 0.46271425
   0.44955698 0.59838641 0.42325753 0.55115026 0.47641191 0.72600549
   0.31484482 0.78363889 0.1603424  0.50754559 0.30743194 0.40552133
   0.35110554 0.3985956  0.37354067 0.42323098 0.37249035]
  [0.51630378 0.53965855 0.55737925 0.5729214  0.48477677 0.46588942
   0.4508673  0.59880871 0.42398629 0.55562663 0.48300022 0.72997063
   0.32322162 0.77004975 0.17955036 0.5020085  0.29637107 0.41627505
   0.29069048 0.41894722 0.3067863  0.4353351  0.32409397]
  [0.51907641 0.54154003 0.55908513 0.57388216 0.48879772 0.46930823
   0.45279372 0.59874982 0.42583895 0.55743289 0.48485613 0.73207861
   0.33451882 0.77729213 0.18327989 0.52595174 0.25606561 0.4474332
   0.23839644 0.44594759 0.24486817 0.460226   0.262941  ]
  [0.5195452  0.54165429 0.55839503 0.57324922 0.4893958  0.46952742
   0.45294502 0.59567893 0.42516473 0.55774015 0.48482278 0.7314344
   0.33430558 0.78231698 0.19041201 0.53408903 0.25249562 0.45075038
   0.24780327 0.44568819 0.25609109 0.46390152 0.26974514]
  [0.51850986 0.53967148 0.55541021 0.57060838 0.48583061 0.46619508
   0.45059159 0.59155667 0.42186174 0.55602574 0.48323017 0.72887629
   0.33059642 0.78754026 0.19043699 0.53562874 0.27403966 0.45371121
   0.28735256 0.44602945 0.3044847  0.46343058 0.31294873]
  [0.51646233 0.5353837  0.55021155 0.56451643 0.48312259 0.46407494
   0.44949079 0.58423328 0.41941708 0.55199766 0.4821887  0.72426546
   0.32371897 0.79857695 0.19428115 0.53914851 0.32099113 0.45981869
   0.36539033 0.44985205 0.3803753  0.46682778 0.37433705]
  [0.50502551 0.52279598 0.53725326 0.5510841  0.47238818 0.45562127
   0.4421193  0.5724588  0.41482785 0.54189879 0.47418791 0.72327304
   0.31639811 0.81295234 0.19919012 0.54332399 0.38427541 0.46540347
   0.4532994  0.4531244  0.46687865 0.47108909 0.45219621]
  [0.50233179 0.51967084 0.53404486 0.54814422 0.47031593 0.45350409
   0.44039124 0.56956834 0.41269618 0.54077703 0.47380063 0.72199982
   0.31333989 0.82432294 0.18373747 0.55472195 0.37335694 0.4771342
   0.43627954 0.46018872 0.45646074 0.47963801 0.44542754]
  [0.49873525 0.51845741 0.53349125 0.54809487 0.46740788 0.45093471
   0.43733555 0.56993854 0.41054574 0.53818232 0.47160685 0.7217747
   0.31123269 0.83948678 0.15080927 0.60416996 0.36417007 0.52977961
   0.41548017 0.50358611 0.43411899 0.52386266 0.4271251 ]]

 [[0.26571977 0.21979113 0.2170265  0.21587361 0.2300338  0.23312305
   0.235765   0.24056172 0.25825968 0.31258729 0.3219803  0.49929568
   0.49225742 0.84896296 0.74862462 0.7441749  0.55072433 0.74669129
   0.50436419 0.70892757 0.47633371 0.70558929 0.49175176]
  [0.27066225 0.22599031 0.22389463 0.22339013 0.23447485 0.23702899
   0.23988044 0.24613395 0.26082918 0.31660119 0.32388711 0.48981085
   0.4899936  0.83035201 0.74862581 0.65558928 0.60578418 0.64397764
   0.60172451 0.60638487 0.56826794 0.60782212 0.5711236 ]
  [0.26642498 0.22283769 0.22108647 0.22069596 0.22865246 0.23077855
   0.23383565 0.24393773 0.25904033 0.31305885 0.3196736  0.48760164
   0.48942795 0.82844758 0.75109088 0.62251723 0.52643573 0.58857483
   0.48324475 0.55400187 0.4590413  0.56005883 0.47109172]
  [0.25360295 0.21533284 0.2141335  0.21405992 0.21931641 0.22138466
   0.22523214 0.23913755 0.25477955 0.30085853 0.30629441 0.48645392
   0.48699179 0.82390791 0.73847181 0.6312995  0.47309428 0.59891951
   0.39224309 0.5614025  0.35171854 0.56764847 0.38691229]
  [0.2519474  0.21421558 0.2128959  0.21264741 0.21869385 0.22117332
   0.22510329 0.23842807 0.25450888 0.29912576 0.30528051 0.4857032
   0.48581252 0.82133144 0.68920094 0.64710271 0.39555871 0.62900573
   0.32102802 0.59370726 0.29736188 0.59556991 0.32359174]
  [0.25541154 0.21632704 0.21451858 0.21403354 0.2243861  0.22744896
   0.23125736 0.23968104 0.25824672 0.30209768 0.31086257 0.48581353
   0.48539594 0.82104796 0.65789133 0.65794826 0.37552282 0.64382058
   0.30965918 0.60950124 0.2909652  0.60967457 0.31297222]
  [0.25911653 0.22030427 0.21789077 0.21708894 0.22913125 0.2318048
   0.23497018 0.24173729 0.2608707  0.3055307  0.31493616 0.48587793
   0.48541245 0.82029724 0.63998926 0.66977102 0.36767983 0.66100156
   0.31687295 0.62646073 0.29842043 0.62551278 0.316257  ]
  [0.26689428 0.2287478  0.22572729 0.22394468 0.23832637 0.24151735
   0.24489728 0.24477924 0.26999977 0.31259191 0.3254962  0.48600742
   0.48490104 0.82118177 0.61600202 0.67946535 0.3692652  0.67824203
   0.31984133 0.64065135 0.29772156 0.636971   0.3210676 ]
  [0.27778512 0.23701669 0.23445939 0.23204726 0.2444866  0.24762087
   0.25106415 0.2482143  0.27612123 0.31908801 0.33206975 0.48675731
   0.48488334 0.82200837 0.61053771 0.70192498 0.38678861 0.71338415
   0.38504869 0.67596835 0.37341639 0.66787058 0.37966105]
  [0.2861104  0.24314339 0.24135843 0.23927219 0.24882685 0.25164056
   0.25506544 0.2516163  0.27878854 0.33052352 0.33980891 0.48825267
   0.4850269  0.82743335 0.61550057 0.71810156 0.40632418 0.72446442
   0.39001074 0.68312627 0.37784848 0.67683166 0.39093903]]]

In [8]:
print(data['labels'][0])

1

In [9]:
print(data['name_labels'][0])

b' ustedes'

In [17]:
df_or['class'] = df_or['videoname'].apply(lambda x: x.split('_')[0])

In [18]:
df_or

          videoname axis  n_frame  n_landmark  coordinate     class
0        ustedes_25    x        0           0    0.503444   ustedes
1        ustedes_25    x        0           1    0.531401   ustedes
2        ustedes_25    x        0           2    0.548882   ustedes
3        ustedes_25    x        0           3    0.566963   ustedes
4        ustedes_25    x        0           4    0.476303   ustedes
...             ...  ...      ...         ...         ...       ...
407555       él_524    y       12          18    0.437323        él
407556       él_524    y       12          19    0.798151        él
407557       él_524    y       12          20    0.403665        él
407558       él_524    y       12          21    0.781035        él
407559       él_524    y       12          22    0.433403        él

[407560 rows x 6 columns]

In [43]:
df_new = df_or[["videoname", "coordinate"]]

In [44]:
df_new

          videoname  coordinate
0        ustedes_25    0.503444
1        ustedes_25    0.531401
2        ustedes_25    0.548882
3        ustedes_25    0.566963
4        ustedes_25    0.476303
...             ...         ...
407555       él_524    0.437323
407556       él_524    0.798151
407557       él_524    0.403665
407558       él_524    0.781035
407559       él_524    0.433403

[407560 rows x 2 columns]

In [52]:
df_new['new_col'] = range(1, len(df_new) + 1)

C:\Users\BRENDA\anaconda3\envs\pose\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [53]:
df_new

          videoname  coordinate  new_col
0        ustedes_25    0.503444        1
1        ustedes_25    0.531401        2
2        ustedes_25    0.548882        3
3        ustedes_25    0.566963        4
4        ustedes_25    0.476303        5
...             ...         ...      ...
407555       él_524    0.437323   407556
407556       él_524    0.798151   407557
407557       él_524    0.403665   407558
407558       él_524    0.781035   407559
407559       él_524    0.433403   407560

[407560 rows x 3 columns]

In [54]:
df_new.pivot(index='videoname', columns='new_col', values='coordinate')

new_col,1,2,3,4,5,6,7,8,9,10,...,407551,407552,407553,407554,407555,407556,407557,407558,407559,407560
videoname,,,,,,,,,,,,,,,,,,,,,
ustedes_25,0.503444,0.531401,0.548882,0.566963,0.476303,0.462477,0.449118,0.599518,0.428249,0.545454,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A-L-E-X_271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A-L-E-X_275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
A-N-D-R-E-A_236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
C A R B O H I D R A T O S_533,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
él_295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
él_302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
él_311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
él_500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
él_524,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.853447,0.808843,0.8058,0.506195,0.845222,0.437323,0.798151,0.403665,0.781035,0.433403

In [32]:
df_new_transpose

,0,1,2,3,4,5,6,7,8,9,...,407550,407551,407552,407553,407554,407555,407556,407557,407558,407559
videoname,ustedes_25,ustedes_25,ustedes_25,ustedes_25,ustedes_25,ustedes_25,ustedes_25,ustedes_25,ustedes_25,ustedes_25,...,él_524,él_524,él_524,él_524,él_524,él_524,él_524,él_524,él_524,él_524
coordinate,0.503444,0.531401,0.548882,0.566963,0.476303,0.462477,0.449118,0.599518,0.428249,0.545454,...,0.853447,0.808843,0.8058,0.506195,0.845222,0.437323,0.798151,0.403665,0.781035,0.433403

In [11]:
df_or.groupby("class").describe()

                          n_frame                                         \
                            count       mean        std  min   25%   50%
class
                           1380.0  10.266667   6.305371  0.0   6.0  10.5
 ustedes                    460.0   8.100000   4.913500  0.0   4.0   8.5
A-L-E-X                     920.0  10.500000   6.155582  0.0   6.0  10.5
A-N-D-R-E-A                 460.0  20.200000  12.275487  0.0  10.0  21.0
C A R B O H I D R A T O S   920.0  20.250000  13.205190  0.0   9.5  20.0
...                           ...        ...        ...  ...   ...   ...
voltear                     460.0   5.400000   3.043046  0.0   3.0   5.5
volver                      460.0   9.700000   5.183475  0.0   6.0  10.5
ya                         2760.0   6.600000   4.200761  0.0   4.0   6.5
yo                         5980.0   7.215385   4.807423  0.0   4.0   7.0
él                         3220.0   8.714286   6.508463  0.0   4.0   8.0

                                      n_landmark        ...              \
                            75%   max      count  mean  ...   75%   max
class                                                   ...
                           15.0  24.0     1380.0  11.0  ...  17.0  22.0
 ustedes                   12.0  16.0      460.0  11.0  ...  17.0  22.0
A-L-E-X                    15.0  21.0      920.0  11.0  ...  17.0  22.0
A-N-D-R-E-A                30.0  40.0      460.0  11.0  ...  17.0  22.0
C A R B O H I D R A T O S  30.5  45.0      920.0  11.0  ...  17.0  22.0
...                         ...   ...        ...   ...  ...   ...   ...
voltear                     8.0  10.0      460.0  11.0  ...  17.0  22.0
volver                     13.0  18.0      460.0  11.0  ...  17.0  22.0
ya                          9.0  18.0     2760.0  11.0  ...  17.0  22.0
yo                         10.0  24.0     5980.0  11.0  ...  17.0  22.0
él                         12.0  27.0     3220.0  11.0  ...  17.0  22.0

                          coordinate                                          \
                               count      mean       std       min       25%
class
                              1380.0  0.481858  0.185385  0.122559  0.300913
 ustedes                       460.0  0.442514  0.166969  0.143148  0.298246
A-L-E-X                        920.0  0.438679  0.182313  0.150125  0.269969
A-N-D-R-E-A                    460.0  0.433134  0.184509  0.137750  0.243755
C A R B O H I D R A T O S      920.0  0.451352  0.178343  0.125493  0.287301
...                              ...       ...       ...       ...       ...
voltear                        460.0  0.466761  0.171500  0.158805  0.316087
volver                         460.0  0.469108  0.181517  0.144072  0.316708
ya                            2760.0  0.474956  0.201056  0.148455  0.288604
yo                            5980.0  0.429371  0.182722  0.098018  0.254451
él                            3220.0  0.467314  0.218419  0.106564  0.248733


                                50%       75%       max
class
                           0.493368  0.604941  0.867242
 ustedes                   0.453212  0.550814  0.848963
A-L-E-X                    0.426982  0.608746  0.809107
A-N-D-R-E-A                0.468448  0.571834  0.815781
C A R B O H I D R A T O S  0.457540  0.545462  0.894787
...                             ...       ...       ...
voltear                    0.483689  0.550676  0.954157
volver                     0.464870  0.565109  0.899276
ya                         0.474543  0.595678  0.921444
yo                         0.442420  0.546891  0.905487
él                         0.477255  0.565877  0.899575

[338 rows x 24 columns]

In [9]:
df_or.groupby("class").agg({"videoname": "nunique"}).reset_index().describe()

        videoname
count  338.000000
mean     2.621302
std      3.910545
min      1.000000
25%      1.000000
50%      1.000000
75%      3.000000
max     43.000000

In [10]:
df_or.groupby("videoname").agg({"n_frame": "nunique"}).rename(columns={"n_frame": "n_frames"}).describe()

       n_frames
count     886.0
mean       10.0
std         0.0
min        10.0
25%        10.0
50%        10.0
75%        10.0
max        10.0

In [ ]:
#df_or.head(5)
df_or['recategorizado'] = pd.factorize(df_or['class'])[0] + 1

In [ ]:
new_dataframe = df_or.filter(['x','y','recategorizado'], axis=1

In [ ]:
from sklearn.neighbors import NearestNeighbors
neigh = NearestNeighbors(n_neighbors=1)
neigh.fit(new_dataframe)

In [ ]:
X = [ [0.345141, 0.486088, 14]]
array = neigh.kneighbors(X, return_distance=False)  #quiero que este número de array lo tome desde el final_dataframe
print (array)

In [ ]:
final_dataframe = df_or.filter(['x','y','class','recategorizado'], axis=1)
print (final_dataframe)

In [ ]:
final_dataframe.loc[12879, "class"]

In [ ]:
final_dataframe.loc[array[0], "class"]